{% extends 'base.html' %}
{% load static %}

{% block content %}
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../static/images/load3.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="/"><img src="../static/images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="index.html"> Home  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="option/">Predict</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="/product/">Products </a>
                              </li>
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="/product/"><i class="fa fa-search" aria-hidden="true"></i></a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="text-bg">
                     <h1>APLIKASI DOKTERTANI</h1>
                     <p>Aplikasi untuk membantu petani atau pemilik tanaman dalam mengidentifikasi masalah yang sedang dihadapi oleh tanaman mereka melalui fitur diagnosis berdasarkan deskripsi gejala yang disediakan pengguna</p>
                     <a href="#">Discover</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- three_box -->
      <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="../static/images/img1.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="../static/images/img2.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="../static/images/img3.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- three_box -->
      <!-- hottest -->
      <div  class="hottest">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>Gunakan Apikasi ini untuk peningkatan kebutuhan Anda
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="hottest_box">
                     <p>
                        <strong>1. Pengelolaan Tanaman yang Lebih Efektif:</strong><br>
                        Petani akan dapat mengelola tanaman mereka dengan lebih efektif karena mereka dapat mengidentifikasi penyakit dengan cepat melalui aplikasi.  dan kualitas produksi.<br></br>

                        <strong>2. Peningkatan Produktivitas dan Pendapatan:</strong><br>
                        Dengan adanya akses terhadap solusi pengobatan yang tepat, petani dapat mengurangi kerugian produksi akibat serangan penyakit tanaman.<br></br>

                        <strong>3. Penghematan Biaya dan Waktu:</strong><br>
                        Petani akan dapat menghemat biaya produksi karena mereka hanya menggunakan obat-obatan atau pestisida yang sesuai dengan penyakit tanaman yang didiagnosis.<br></br>
                        
                        <strong>4. Peningkatan Pengetahuan dan Keahlian:</strong><br>
                        Dengan menggunakan aplikasi ini secara teratur, petani akan dapat meningkatkan pengetahuan dan keahlian mereka dalam mengenali penyakit tanaman dan cara mengobatinya.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      <!-- end hottest -->
      <!-- choose  section -->
      <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="titlepage">
                     <h2>About Us </h2>
                     <p>there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined  </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                  <div class="padding_with">
                     <div class="row">
                        <div class="col-md-6 padding_bottom">
                           <div class="choose_box">
                              <i><img src="../static/images/bayu.png" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Bayu Kurniawan</h3>
                                 <p>3322600019</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 padding_bottom">
                           <div class="choose_box">
                              <i><img src="../static/images/yusuf.png" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Muhammad Yusuf Rajabiyah</h3>
                                 <p>3322600020</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 padding_bottom2">
                           <div class="choose_box">
                              <i><img src="../static/images/zen.png" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Muhammad Fauzil Kazhim Zen</h3>
                                 <p>3322600008</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="choose_box">
                              <i><img src="../static/images/ilmi.png" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Ida Ayu Made 'Ilmi</h3>
                                 <p>3322600002</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                  <div class="choose_img">
                     <figure><img src="../static/images/logoDT2.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end choose  section -->
      </div>
{% endblock %}

